<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tensorconclave.notes_serve</string>
	<key>Nice</key>
	<integer>1</integer>
	<key>Program</key>
	<string>/bin/zsh</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>-c</string>
		<string>${DOTFILES_DIR}/bin/logos serve</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.tensorconclave.notes_serve.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.tensorconclave.notes_serve.out</string>
</dict>
</plist>
