<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.jmromer.anotes</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/node</string>
		<string>./node_modules/.bin/tsx</string>
		<string>server/index.ts</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.jmromer.anotes.err.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.jmromer.anotes.out.log</string>
	<key>WorkingDirectory</key>
	<string>/Users/jmromer/Projects/AcademicNotes</string>
</dict>
</plist>
