<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.tensorconclave.xdg</string>

    <key>Program</key>
    <string>/bin/zsh</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>-c</string>
      <string>
        launchctl setenv XDG_CONFIG_HOME "${HOME}/.dotfiles/config";
        launchctl setenv ZDOTDIR "${HOME}/.dotfiles/config/zsh";
      </string>
    </array>

    <key>RunAtLoad</key>
    <true />

    <key>StandardOutPath</key>
    <string>/tmp/com.tensorconclave.xdg.out</string>

    <key>StandardErrorPath</key>
    <string>/tmp/com.tensorconclave.xdg.err</string>
  </dict>
</plist>
