<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>jmromer.cdd-sync</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/jmromer/.bin/cd-dispatch</string>
      <string>sync</string>
    </array>

    <key>Nice</key>
    <integer>1</integer>

    <key>StartInterval</key>
    <integer>3600</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/jmromer.cdd-sync.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/jmromer.cdd-sync.stderr.log</string>
  </dict>
</plist>
