<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>jmromer.pd-refresh</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/jmromer/.go/bin/pd</string>
      <string>--pd-refresh</string>
    </array>

    <key>Nice</key>
    <integer>1</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <!-- TODO: is a launchagent needed? -->
    <!-- Run every 15 minutes -->
    <key>StartInterval</key>
    <integer>900</integer>

    <key>StandardOutPath</key>
    <string>/tmp/jmromer.pd-refresh.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/jmromer.pd-refresh.stderr.log</string>
  </dict>
</plist>
