*.secret
*.secure
*.lock
.netrwhist
home/pry/themes/pry*
home/pry/themes/tomorrow*
home/pry/themes/github*
home/pry/themes/monokai*
home/pry/themes/vim*
home/lein/repl-history
home/vim/plugins/*
home/vim/plugged/*
home/vim/backup/*
home/vim/cache/*
home/vim/tmp/*
home/zsh/zsh-syntax-highlighting/*
home/emacs.d/elpa/*
home/emacs.d/.cask/*
home/emacs.d/.*
home/emacs.d/*.dat
home/emacs.d/places
home/emacs.d/projectile-bookmarks.eld
home/emacs.d/ido.last
home/bundle/cache
home/lein/repl-port
home/spacemacs.d/local/sensitive
home/spacemacs.d/.spacemacs.env
home/spacemacs.d/*.elc
default.vim
.dir-locals.el
