[submodule "home/zsh/zsh-syntax-highlighting"]
	path = home/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/emacs.d"]
	path = home/emacs.d
	url = https://github.com/syl20bnr/spacemacs
