[submodule "home/zsh/zsh-syntax-highlighting"]
	path = home/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "home/vim/vim-plug"]
	path = home/vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
	branch = master
[submodule "home/spacemacs.d/local/xwwp"]
	path = home/spacemacs.d/local/xwwp
	url = https://github.com/canatella/xwwp.git
