/* Greenhouse Print */
/* job-boards.greenhouse.io */
@media print {
    .footer,
    .application--container {
        display: none !important;
    }
}

/* Handshake Print
 * app.joinhandshake.com
 */
[data-hook="student-sidebar"],
[data-hook="student-topbar"],
.style__application-flow___oq_A6,
.style__floating-buttons-container___RDpze.style__gap___LE_tw.style__visible___lHunb {
    display: none !important;
}

.style__full-height___E_Ofr > div > div > div:first-child {
    display: none;
}

.style__full-height___E_Ofr > div > div:nth-last-child(3),
.style__full-height___E_Ofr > div > div:nth-last-child(2),
.style__full-height___E_Ofr > div > div:nth-last-child(1) {
    display: none;
}

/* LinkedIn: Print
 * www.linkedin.com
 **/
@media print {
    #global-nav,
    .global-footer,
    .post-apply-timeline__content,
    .jobs-company__content,
    .jobs-company__footer,
    .jobs-similar-jobs,
    .js-similar-jobs-list,
    .jobs-similar-jobs__see-more,
    .jobs-details-premium-insight.hiring-trends {
        display: none !important;
    }

    body,
    html {
        background-color: #ffffff !important;
        color: #000000 !important;
    }

    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    a,
    button,
    strong,
    span,
    .artdeco-entity-lockup__subtitle,
    .artdeco-entity-lockup__title {
        background-color: #ffffff !important;
        color: #000000 !important;
    }
}

@media print and (min-width: 576px) {
    .scaffold-layout--reflow .artdeco-card {
        border: none !important;
    }
}

@media print {
    .artdeco-card.job-details-module:has(.job-details-job-alert__description) {
        display: none;
    }
    .artdeco-card.job-details-module:has(.coach-mark-list__container) {
        display: none;
    }
}

/* Coursera
 * https://www.coursera.org/learn/.+
*/
@media print {
    /* hide point markers*/
    .css-9jhhuf {
        display: none !important;
    }

    body {
        font-size: 100% !important;
        line-height: 1 !important;
    }
    button {
        display: none !important;
    }
    .cds-button-disableElevation {
        display: none !important;
    }
    /* enable scrolling to enable printing content container fully */
    .rc-LegacyDataFetch > div,
    .rc-CourseHomeLayout {
        position: relative !important;
    }

    nav[data-testid="page-header-wrapper"] {
        display: none !important;
    }

    /* Don't display the help button */
    .rc-Help.link-button {
        display: none !important;
    }

    div[data-testid="HonorCodeAgreement"] {
        display: none !important;
    }

    /* Hide navbar */
    .height-placeholders,
    .show-smart-scroll-container,
    .smart-scroll-container,
    .rc-TunnelVisionHeader,
    .rc-PageHeaderWrapper {
        display: none !important;
    }

    /* Hide content borders */
    .cds-AccordionRoot-container,
    .cds-AccordionRoot-standard {
        border: 0 !important;
    }

    div[data-classname="tunnelvision-window-0"] {
        position: relative !important;
    }
}

pre,
code {
    width: 50vw !important;
    overflow: unset !important;
    border: none !important;
}

/* LinkedIn: Distraction-Free
 * linkedin.com
 */
/* hide the post, link, video previews takes too much space on screen */
.feed-shared-article__link-container,
div.feed-shared-image,
div.feed-shared-linkedin-video,
div.feed-shared-external-video__container,
#feed-news-module,
.scaffold-layout__aside,
#msg-overlay {
    display: none;
}
